@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.5rem;
  font-family: "Roboto", "sans-serif";
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}
.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}
.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}
.absolute {
  background-color: #00f;
  position: absolute;
  top: 0px;
  left: 0px;
}
.relative {
  background-color: red;
  position: relative;
  top: 1300px;
  left: 0px;
}
.fixed {
  background-color: green;
  position: fixed;
  top: 50px;
  left: 130px;
}
.sticky {
  background-color: orange;
  position: sticky;
  top: 0;
}

section {
  height: 100vh;
}

.blue {
  background-color: #00f;
}
.red {
  background-color: #f00;
}
.green {
  background-color: #0f0;
}

header,
footer {
  color: #fff;
  text-align: center;
  height: 100px;
}

header {
  font-size: 5rem;
  position: sticky;
  top: 0;
}

footer {
  background-color: orange;
  position: fixed;
  bottom: 0px;
  right: 10px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
}

a:visited {
  color: #fff;
}

.social {
  background-color: royalblue;
  color: #fff;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 1;
}
