@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1rem;
  font-family: "Roboto", "sans-serif";
}

.columns {
  columns: 4 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns h2 {
  margin-top: 0px;
  background-color: #333;
  color: whitesmoke;
  padding: 1rem;
  break-inside: avoid;
}

.columns p {
  margin-top: 0px;
}
.columns .quote {
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
  margin-top: 2rem;
}

.nowrap {
  white-space: nowrap;
}
